# This file is a template for the .env file that is used by the docker-compose.yml file.
POSTGRES_PASSWORD=<<POSTGRES_PASSWORD>>
MSSQL_SA_PASSWORD=<<MSSQL_SA_PASSWORD>>
ORACLE_PASSWORD=<<ORACLE_PASSWORD>>