# This file is a template for the .env file that is used by the docker-compose.yml file.
IMAGE_VERSION=2.0.1
ENVIRONMENT=Release
MSSQL_PASSWORD=<<SA_PASSWORD>>
POSTGRES_PASSWORD=<<POSTGRES_PASSWORD>>
HASHICORP_TOKEN=<<HASHICORP_TOKEN>>
ORACLE_PASSWORD=<<ORACLE_PWD>>
MYSQL_ROOT_PASSWORD=<<MYSQL_ROOT_PASSWORD>>
SEQ_FIRSTRUN_ADMINPASSWORD=<<SEQ_FIRSTRUN_ADMINPASSWORD>>
MONGO_DB_CONNECTION_STRING=<<MONGO_DB_CONNECTION_STRING>>
CONSUL_URL=http://consul
FABIO_URL=http://fabio
OTLP_URL=http://jaeger
SEQ_URL=http://seq
SEQ_APIKEY=<<SEQ_API_KEY>>
